<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LJBAnimationDemos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC6CD1A01C4F67F000EE344D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6CD1B91C4F67F000EE344D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6CD1C41C4F67F000EE344D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
